.search {
  margin: 0 0 40px;
}

.search-form {
  position: relative;
}

.search-field {
  border-bottom-color: #fff !important;
  color: #fff;
}

.search-button {
  position: absolute;
  right: 0;
}
